In [1]:
import numpy as np
import pandas as pd

In [1]:
"""ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/rsrishav/youtube-trending-video-dataset?select=KR_youtube_trending_data.csv
ë°ì´í„° ì„¤ëª… : ìœ íŠœë¸Œ ë°ì¼ë¦¬ ì¸ê¸°ë™ì˜ìƒ (í•œêµ­)
dataurl : https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv"""
# Q1. ì¸ê¸°ë™ì˜ìƒ ì œì‘íšŸìˆ˜ê°€ ë§ì€ ì±„ë„ ìƒìœ„ 10ê°œëª…ì„ ì¶œë ¥í•˜ë¼ (ë‚ ì§œê¸°ì¤€, ì¤‘ë³µí¬í•¨)   â˜…

df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv")
df.head(2)

NameError: name 'pd' is not defined

In [48]:
df.groupby(['channelTitle', 'trending_date2']).size().groupby('channelTitle').size().sort_values(ascending=False).head(10).index

Index(['ì§¤íˆ°', 'íŒŒë¿Œë¦¬', 'ì¥ì‚ì­ˆ', 'ëŸ°ë‹ë§¨ - ìŠ¤ë¸ŒìŠ¤ ê³µì‹ ì±„ë„', 'ì›Œí¬ë§¨-Workman', 'ìœ¡ì‹ë§¨ YOOXICMAN',
       'ì´ëª‡ëª…', 'SPOTV', 'ì— ëšœë£¨ë§ˆëšœë£¨ : MBC ê³µì‹ ì¢…í•© ì±„ë„', 'SMTOWN'],
      dtype='object', name='channelTitle')

In [46]:
# ì´ê±´ ì „ì²´ ê¸°ê°„ì—ì„œ ì œì‘ íšŸìˆ˜ì–ì•„ ë©ì²­ì•„;
df.groupby(['channelTitle']).size().sort_values(ascending=False).head(10).index
df.loc[df.channelId.isin(df.channelId.value_counts().head(10).index)].channelTitle.unique() # ì™œ ëŒì•„ê°?

Index(['ì§¤íˆ°', 'íŒŒë¿Œë¦¬', 'SPOTV', 'ëŸ°ë‹ë§¨ - ìŠ¤ë¸ŒìŠ¤ ê³µì‹ ì±„ë„', 'ì— ëšœë£¨ë§ˆëšœë£¨ : MBC ê³µì‹ ì¢…í•© ì±„ë„', 'ì¥ì‚ì­ˆ',
       'BANGTANTV', 'ì±„ë„ ì‹­ì˜¤ì•¼', 'ì´ê³¼ì¥', 'ì´ëª‡ëª…'],
      dtype='object', name='channelTitle')

In [57]:
# Q2. ë…¼ë€ìœ¼ë¡œ ì¸ê¸°ë™ì˜ìƒì´ ëœ ì¼€ì´ìŠ¤ë¥¼ í™•ì¸í•˜ê³  ì‹¶ë‹¤. dislikesìˆ˜ê°€ like ìˆ˜ë³´ë‹¤ ë†’ì€ ë™ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼
# â˜…
df.loc[df.likes < df.dislikes]['channelTitle'].unique()

array(['í•«ë„ê·¸TV', 'ASMR ì• ì •TV', 'í•˜ì–€íŠ¸ë¦¬HayanTree', 'ì–‘íŒ¡ YangPang',
       'ì² êµ¬í˜• (CHULTUBE)', 'ì™œëƒë§¨í•˜ìš°ìŠ¤', '(MUTUBE)ì™€ê¾¸ëŒ€ì¥ë´‰ì¤€', 'ì˜¤ë©”í‚´TV', 'ìœ¡ì§€ë‹´',
       'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', 'ì‚¬ë‚˜ì´ ê¹€ê¸°í›ˆ',
       'ë‚˜í˜¼ìì‚°ë‹¤ STUDIO', 'Gen.G esports'], dtype=object)

In [76]:
# Q3. ì±„ë„ëª…ì„ ë°”ê¾¼ ì¼€ì´ìŠ¤ê°€ ìˆëŠ”ì§€ í™•ì¸í•˜ê³  ì‹¶ë‹¤.              â˜…
# channelIdì˜ ê²½ìš° ê³ ìœ ê°’ì´ë¯€ë¡œ ì´ë¥¼ í†µí•´ ì±„ë„ëª…ì„ í•œë²ˆì´ë¼ë„ ë°”ê¾¼ ì±„ë„ì˜ ê°¯ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

df.groupby(['channelId', 'channelTitle']).size().groupby('channelId').size().value_counts()[1:].sum()
df[['channelId', 'channelTitle']].drop_duplicates()['channelId'].value_counts().value_counts()[1:].sum()

71

In [87]:
# Q4. ì¼ìš”ì¼ì— ì¸ê¸°ìˆì—ˆë˜ ì˜ìƒë“¤ì¤‘ ê°€ì¥ë§ì€ ì˜ìƒ ì¢…ë¥˜(categoryId)ëŠ” ë¬´ì—‡ì¸ê°€?

df['mydate'] = pd.to_datetime(df['trending_date2']) # 0ì›” 1í™” 2ìˆ˜ 3ëª© 4ê¸ˆ 5í†  6ì¼
df.loc[df['mydate'].dt.weekday == 6]['categoryId'].value_counts().index[0]

24

In [90]:
# Q5. ê° ìš”ì¼ë³„ ì¸ê¸° ì˜ìƒë“¤ì˜ categoryIdëŠ” ê°ê° ëª‡ê°œ ì”©ì¸ì§€ í•˜ë‚˜ì˜ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ë¼

df['dayname'] = df['mydate'].dt.day_name()
df.pivot_table(index='dayname', columns='categoryId', aggfunc='size')

categoryId,1,2,10,15,17,19,20,22,23,24,25,26,27,28,29
dayname,,,,,,,,,,,,,,,
Friday,243,120,833,187,633,90,283,1288,568,2976,444,369,183,171,12
Monday,263,105,837,215,668,92,298,1373,594,3148,453,378,205,160,10
Saturday,255,119,776,198,592,87,296,1289,570,3066,422,364,183,173,10
Sunday,274,99,830,217,636,91,289,1337,556,3096,437,363,199,167,9
Thursday,246,128,890,207,682,92,282,1341,560,2954,470,375,194,166,13
Tuesday,257,119,894,208,708,89,285,1375,569,3084,452,394,194,161,11
Wednesday,234,129,917,207,706,85,291,1333,566,3090,468,385,212,165,12

In [116]:
# Q6. ëŒ“ê¸€ì˜ ìˆ˜ë¡œ (comment_count) ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤.                   â˜…
# viewcountëŒ€ë¹„ ëŒ“ê¸€ìˆ˜ê°€ ê°€ì¥ ë†’ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼ (view_countê°’ì´ 0ì¸ ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)

ans = df.loc[df['view_count'] > 0]
ans['vc'] = ans.comment_count / ans.view_count
ans.sort_values('vc', ascending=False).dropna().head(1).title.values[0]

C:\Users\ALT\AppData\Local\Temp\ipykernel_8828\1344392111.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ans['vc'] = ans.comment_count / ans.view_count

'60ë¶„ ë™ì•ˆ ëŒ“ê¸€ì´ ë‹¬ë¦¬ì§€ ì•Šìœ¼ë©´, ì˜ìƒì´ ì‚­ì œë©ë‹ˆë‹¤. (ì±Œë¦°ì§€)'

In [122]:
# Q7. ëŒ“ê¸€ì˜ ìˆ˜ë¡œ (comment_count) ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤.
# viewcountëŒ€ë¹„ ëŒ“ê¸€ìˆ˜ê°€ ê°€ì¥ ë‚®ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼ (view_counts, ratioê°’ì´ 0ì¸ê²½ìš°ëŠ” ì œì™¸í•œë‹¤.)

ans = df.loc[df['view_count'] > 0].loc[df['comment_count'] > 0]
ans['vc'] = ans.comment_count / ans.view_count
ans.sort_values('vc').dropna().head(1).title.values[0]

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

In [128]:
# Q8. like ëŒ€ë¹„ dislikeì˜ ìˆ˜ê°€ ê°€ì¥ ì ì€ ì˜ìƒì€ ë¬´ì—‡ì¸ê°€? (like, dislike ê°’ì´ 0ì¸ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)

ans = df.loc[df['likes'] > 0].loc[df['dislikes'] > 0]
ans['ld'] = ans.likes / ans.dislikes
ans.sort_values('ld', ascending=False).head(1).title.values[0]

'[ì¤Œí„°ë·°] *ìµœì´ˆê³µê°œ* ì‚¬ë¶€ì‘ì¦ˆğŸ°ğŸ¶ì˜ ë¹„ê³µì‹ ì´ë¦„ì€ ì•„ì´ë¼ì¸ì¦ˆ? ê¿€ì¡°í•© í‹°í‚¤íƒ€ì¹´ ê°€ë“í•œ NCT 127 ë„ì˜&ì •ìš°ì˜ ì¤Œí„°ë·°'

In [137]:
# Q9. ê°€ì¥ë§ì€ íŠ¸ë Œë“œ ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì˜ ì´ë¦„ì€ ë¬´ì—‡ì¸ê°€? (ë‚ ì§œê¸°ì¤€, ì¤‘ë³µí¬í•¨)

df.groupby('channelTitle').size().sort_values(ascending=False).index[0]

'ì§¤íˆ°'

In [160]:
# Q10. 20íšŒ(20ì¼)ì´ìƒ ì¸ê¸°ë™ì˜ìƒ ë¦¬ìŠ¤íŠ¸ì— í¬í•¨ëœ ë™ì˜ìƒì˜ ìˆ«ìëŠ”?

ans = df[['title', 'channelId']].value_counts().to_frame()
len(ans.loc[ans['count'] >= 20])
(df[['title', 'channelId']].value_counts() >= 20).sum()

40

In [162]:
"""ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/kukuroo3/youtube-episodic-contents-kr(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
ë°ì´í„° ì„¤ëª… : ìœ íŠœë¸Œ â€œê³µë²”â€ ì»¨í…ì¸  ë™ì˜ìƒ ì •ë³´ ( 10ë¶„ ê°„ê²© ìˆ˜ì§‘)
dataurl1 (ë¹„ë””ì˜¤ ì •ë³´) = https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv
dataurl2 (ì°¸ê°€ì ì±„ë„ ì •ë³´)= https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv"""

video = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv")
channel = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv")

display(video.head())
display(channel.head())

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,ê³µë²” EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,ê³µë²” EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,ê³µë²” EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,ê³µë²” EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,ê³µë²” EP1

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,ê½ˆëšœë£¹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,ê½ˆëšœë£¹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,ê½ˆëšœë£¹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,ê½ˆëšœë£¹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,ê½ˆëšœë£¹

In [166]:
# Q11. ê° ë°ì´í„°ì˜ â€˜ctâ€™ì»¬ëŸ¼ì„ ì‹œê°„ìœ¼ë¡œ ì¸ì‹í• ìˆ˜ ìˆê²Œ datatypeì„ ë³€ê²½í•˜ê³ 
# video ë°ì´í„°ì˜ videonameì˜ ê° value ë§ˆë‹¤ ëª‡ê°œì˜ ë°ì´í„°ì”© ê°€ì§€ê³  ìˆëŠ”ì§€ í™•ì¸í•˜ë¼

video['ct'] = pd.to_datetime(video['ct'])
channel['ct'] = pd.to_datetime(channel['ct'])

display(video.info())
video.groupby('videoname').size()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15201 entries, 0 to 15200
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   videopk      15201 non-null  object
 1   viewcnt      15201 non-null  int64
 2   likecnt      15201 non-null  int64
 3   dislikecnt   15201 non-null  int64
 4   favoritecnt  15201 non-null  int64
 5   cmcnt        15201 non-null  int64
 6   ct           15201 non-null  datetime64[ns]
 7   videoname    15201 non-null  object
dtypes: datetime64[ns](1), int64(5), object(2)
memory usage: 950.2+ KB

None

videoname
ê³µë²” EP1    3492
ê³µë²” EP2    3204
ê³µë²” EP3    2568
ê³µë²” EP4    2280
ê³µë²” EP5    1562
ê³µë²” EP6    1274
ê³µë²” EP7     555
ê³µë²” EP8     266
dtype: int64

In [169]:
# Q12. ìˆ˜ì§‘ëœ ê° videoì˜ ê°€ì¥ ìµœì‹ í™” ëœ ë‚ ì§œì˜ viewcountê°’ì„ ì¶œë ¥í•˜ë¼

video[['videoname', 'viewcnt', 'ct']].groupby('videoname').max()
#video.sort_values(['videoname','ct']).drop_duplicates('videoname',keep='last')[['viewcnt','videoname','ct']].reset_index(drop=True)

           viewcnt                  ct
videoname
ê³µë²” EP1     3180532 2021-11-01 15:30:03
ê³µë²” EP2     2199328 2021-11-01 15:30:03
ê³µë²” EP3     1671294 2021-11-01 15:30:03
ê³µë²” EP4     1818493 2021-11-01 15:30:03
ê³µë²” EP5     1503435 2021-11-01 15:30:04
ê³µë²” EP6     1750222 2021-11-01 15:30:04
ê³µë²” EP7     1630200 2021-11-01 15:30:05
ê³µë²” EP8     1289088 2021-11-01 15:30:05

In [185]:
# Q13. Channel ë°ì´í„°ì¤‘ 2021-10-03ì¼ ì´í›„ ê° ì±„ë„ì˜ ì²˜ìŒ ê¸°ë¡ ëë˜ êµ¬ë…ì ìˆ˜(subcnt)ë¥¼ ì¶œë ¥í•˜ë¼     â˜…

ans = channel[['channelname', 'ct', 'subcnt']].loc[channel['ct'] >= pd.to_datetime('2021-10-04')]
ans.sort_values(['channelname', 'ct']).drop_duplicates('channelname').drop('ct', axis=1).reset_index(drop=True)

        channelname   subcnt
0     Balming Tiger    54400
1     ê³½í† ë¦¬ kwak tori   471000
2        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶     7530
3               ê½ˆëšœë£¹  1330000
4            ë…¼ë¦¬ì™• ì „ê¸°   921000
5       ë¦´í„ Lilpearl    10100
6             ì•¼ì „ì‚½ì§±ì¬   257000
7   ì™€ê¸€ì™€ê¸€ WagleWagle    55000
8               ì¡°ë‚˜ë‹¨   215000
9        ì¸„ì •ChuJeong   322000
10          í˜•ì‚¬!íƒì •ë˜ë‹¤    14900

In [225]:
# Q14. ê°ì±„ë„ì˜ 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 ê¹Œì§€ êµ¬ë…ììˆ˜ (subcnt) ì˜ ì¦ê°€ëŸ‰ì„ êµ¬í•˜ì—¬ë¼   â˜…

start = channel[['channelname', 'ct', 'subcnt']].loc[channel['ct'] >= pd.to_datetime('2021-10-03 03')].drop_duplicates('channelname')
display(start)
end = channel[['channelname', 'ct', 'subcnt']].loc[channel['ct'] >= pd.to_datetime('2021-11-01 15')].drop_duplicates('channelname')
display(end)
start = start[['channelname', 'subcnt']].reset_index(drop=True)
end = end[['channelname', 'subcnt']].reset_index(drop=True)
ans = pd.merge(start, end, on='channelname')
ans['dif'] = ans['subcnt_y'] - ans['subcnt_x']
ans.drop(['subcnt_y', 'subcnt_x'], axis=1)

          channelname                  ct   subcnt
12                ê½ˆëšœë£¹ 2021-10-03 03:01:04  1330000
139             ì•¼ì „ì‚½ì§±ì¬ 2021-10-03 03:01:02   257000
266        ì¸„ì •ChuJeong 2021-10-03 03:01:02   322000
393            ë…¼ë¦¬ì™• ì „ê¸° 2021-10-03 03:01:02   922000
520   ì™€ê¸€ì™€ê¸€ WagleWagle 2021-10-03 03:01:03    55000
647               ì¡°ë‚˜ë‹¨ 2021-10-03 03:01:03   215000
774           í˜•ì‚¬!íƒì •ë˜ë‹¤ 2021-10-03 03:01:03    14900
901        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶ 2021-10-03 03:01:03     7520
1028      ë¦´í„ Lilpearl 2021-10-03 03:01:03    10100
1155    ê³½í† ë¦¬ kwak tori 2021-10-03 03:01:04   471000
1276    Balming Tiger 2021-10-03 03:01:04    54300

          channelname                  ct   subcnt
130               ê½ˆëšœë£¹ 2021-11-01 15:01:08  1400000
257             ì•¼ì „ì‚½ì§±ì¬ 2021-11-01 15:01:03   268000
384        ì¸„ì •ChuJeong 2021-11-01 15:01:03   323000
511            ë…¼ë¦¬ì™• ì „ê¸° 2021-11-01 15:01:04   911000
638   ì™€ê¸€ì™€ê¸€ WagleWagle 2021-11-01 15:01:04    55000
765               ì¡°ë‚˜ë‹¨ 2021-11-01 15:01:04   227000
892           í˜•ì‚¬!íƒì •ë˜ë‹¤ 2021-11-01 15:01:04    25200
1019       ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶ 2021-11-01 15:01:05     9060
1146      ë¦´í„ Lilpearl 2021-11-01 15:01:05    21100
1273    ê³½í† ë¦¬ kwak tori 2021-11-01 15:01:05   469000
1394    Balming Tiger 2021-11-01 15:01:07    56800

        channelname    dif
0               ê½ˆëšœë£¹  70000
1             ì•¼ì „ì‚½ì§±ì¬  11000
2        ì¸„ì •ChuJeong   1000
3            ë…¼ë¦¬ì™• ì „ê¸° -11000
4   ì™€ê¸€ì™€ê¸€ WagleWagle      0
5               ì¡°ë‚˜ë‹¨  12000
6           í˜•ì‚¬!íƒì •ë˜ë‹¤  10300
7        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶   1540
8       ë¦´í„ Lilpearl  11000
9     ê³½í† ë¦¬ kwak tori  -2000
10    Balming Tiger   2500

In [284]:
# Q15. ê° ë¹„ë””ì˜¤ëŠ” 10ë¶„ ê°„ê²©ìœ¼ë¡œ êµ¬ë…ììˆ˜, ì¢‹ì•„ìš”, ì‹«ì–´ìš”ìˆ˜, ëŒ“ê¸€ìˆ˜ê°€ ìˆ˜ì§‘ëœê²ƒìœ¼ë¡œ ì•Œë ¤ì¡Œë‹¤.
# ê³µë²” EP1ì˜ ë¹„ë””ì˜¤ì •ë³´ ë°ì´í„°ì¤‘ ìˆ˜ì§‘ê°„ê²©ì´ 5ë¶„ ì´í•˜, 20ë¶„ì´ìƒì¸ ë°ì´í„° êµ¬ê°„( í•´ë‹¹ ì‹œì  ì „,í›„) ì˜ ì‹œê°ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼

cut = video.loc[video['videoname'] == ' ê³µë²” EP1'].sort_values('ct').reset_index(drop=True)
dif = cut['ct'].diff().to_frame()
import datetime
res = dif[(dif['ct'] <= datetime.timedelta(minutes=5)) | (dif['ct'] >= datetime.timedelta(minutes=20))]
ans = sorted(set(res.index.to_list() + [i-1 for i in res.index.to_list()]))
cut.iloc[ans]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,ê³µë²” EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,ê³µë²” EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,ê³µë²” EP1

In [304]:
# Q16. ê° ì—í”¼ì†Œë“œì˜ ì‹œì‘ë‚ ì§œ(ë…„-ì›”-ì¼)ë¥¼ ì—í”¼ì†Œë“œ ì´ë¦„ê³¼ ë¬¶ì–´ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë§Œë“¤ê³  ì¶œë ¥í•˜ë¼

ans = video[['videoname', 'ct']].sort_values('ct')
ans['ct'] = ans['ct'].dt.date
ans.drop_duplicates('videoname').set_index('videoname')

                   ct
videoname
ê³µë²” EP1     2021-10-07
ê³µë²” EP2     2021-10-09
ê³µë²” EP3     2021-10-14
ê³µë²” EP4     2021-10-16
ê³µë²” EP5     2021-10-21
ê³µë²” EP6     2021-10-23
ê³µë²” EP7     2021-10-28
ê³µë²” EP8     2021-10-30

In [311]:
# Q17. â€œê³µë²”â€ ì»¨í…ì¸ ì˜ ê²½ìš° 19:00ì‹œì— ê³µê°œ ë˜ëŠ”ê²ƒìœ¼ë¡œ ì•Œë ¤ì ¸ìˆë‹¤.
# ê³µê°œëœ ë‚ ì˜ 21ì‹œì˜ viewcnt, ct, videoname ìœ¼ë¡œ êµ¬ì„±ëœ ë°ì´í„° í”„ë ˆì„ì„ viewcntë¥¼ ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ì—¬ ì¶œë ¥í•˜ë¼

ans = video.loc[video['ct'].dt.hour == 21][['videoname', 'ct', 'viewcnt']].sort_values('ct')
ans.drop_duplicates('videoname').sort_values('viewcnt', ascending=False).reset_index(drop=True)

  videoname                  ct  viewcnt
0    ê³µë²” EP8 2021-10-30 21:00:08   264029
1    ê³µë²” EP7 2021-10-28 21:00:04   252032
2    ê³µë²” EP4 2021-10-16 21:00:04   217674
3    ê³µë²” EP6 2021-10-23 21:00:06   213899
4    ê³µë²” EP5 2021-10-21 21:00:04   201179
5    ê³µë²” EP2 2021-10-09 21:00:03   148144
6    ê³µë²” EP3 2021-10-14 21:00:04   147183
7    ê³µë²” EP1 2021-10-07 21:00:03   117340

In [318]:
# Q18. video ì •ë³´ì˜ ê°€ì¥ ìµœê·¼ ë°ì´í„°ë“¤ì—ì„œ ê° ì—í”¼ì†Œë“œì˜ ì‹«ì–´ìš”/ì¢‹ì•„ìš” ë¹„ìœ¨ì„ ratio ì»¬ëŸ¼ìœ¼ë¡œ ë§Œë“¤ê³ 
# videoname, ratioë¡œ êµ¬ì„±ëœ ë°ì´í„° í”„ë ˆì„ì„ ratioë¥¼ ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ë¼

ans = video.sort_values('ct', ascending=False).drop_duplicates('videoname')
ans['ratio'] = ans.dislikecnt / ans.likecnt
ans.sort_values('ratio')

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,ratio
13660,QUjQbgj5IXM,1630200,29335,400,0,18247,2021-11-01 15:30:05,ê³µë²” EP7,0.013636
14934,AxGKHmXyuAE,1750222,24494,389,0,13025,2021-11-01 15:30:04,ê³µë²” EP6,0.015881
11543,bK0_3Vbfvs8,1818493,22703,408,0,16949,2021-11-01 15:30:03,ê³µë²” EP4,0.017971
13105,hv7FBjskAu0,1503435,19926,421,0,12434,2021-11-01 15:30:04,ê³µë²” EP5,0.021128
9263,GygoAk1hDU0,1671294,22719,508,0,12499,2021-11-01 15:30:03,ê³µë²” EP3,0.022360
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,ê³µë²” EP1,0.027118
6695,23QQ1ru9YQg,2199328,25566,763,0,9171,2021-11-01 15:30:03,ê³µë²” EP2,0.029844
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,ê³µë²” EP8,0.141357

In [330]:
# Q19. 2021-11-01 00:00:00 ~ 15:00:00ê¹Œì§€ ê° ì—í”¼ì†Œë“œë³„ viewcntì˜ ì¦ê°€ëŸ‰ì„ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë§Œë“œì‹œì˜¤

start = video.loc[video['ct'] >= pd.to_datetime('2021-11-01 00')].drop_duplicates('videoname').sort_values('videoname')[['videoname', 'viewcnt', 'ct']]
end = video.loc[video['ct'] >= pd.to_datetime('2021-11-01 15')].drop_duplicates('videoname').sort_values('videoname')[['videoname', 'viewcnt', 'ct']]
ans = pd.merge(start, end, on='videoname')
ans['increament'] = ans.viewcnt_y - ans.viewcnt_x
ans.drop(['viewcnt_x', 'viewcnt_y', 'ct_x', 'ct_y'], axis=1)

  videoname  increament
0    ê³µë²” EP1       13571
1    ê³µë²” EP2       10493
2    ê³µë²” EP3       10042
3    ê³µë²” EP4        9986
4    ê³µë²” EP5       10824
5    ê³µë²” EP6       14259
6    ê³µë²” EP7       27353
7    ê³µë²” EP8       90049

In [340]:
# Q20. video ë°ì´í„° ì¤‘ì—ì„œ ì¤‘ë³µë˜ëŠ” ë°ì´í„°ê°€ ì¡´ì¬í•œë‹¤. ì¤‘ë³µë˜ëŠ” ê° ë°ì´í„°ì˜ ì‹œê°„ëŒ€ì™€ videoname ì„ êµ¬í•˜ì—¬ë¼

ans = video[['videoname', 'ct']].value_counts().to_frame()
ans.loc[ans['count'] > 1].reset_index().drop('count', axis=1)

  videoname                  ct
0    ê³µë²” EP2 2021-10-13 09:41:37
1    ê³µë²” EP1 2021-10-13 09:41:37

In [342]:
"""ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/darinhawley/fifa-world-cup-goalscorers-19302018(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
ë°ì´í„° ì„¤ëª… : 1930 ~2018ë…„ë„ ì›”ë“œì»µ ì¶œì „ì„ ìˆ˜ ê³¨ê¸°ë¡
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv"""

df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv")
df.head(3)

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany

In [347]:
# Q21. ì£¼ì–´ì§„ ì „ì²´ ê¸°ê°„ì˜ ê° ë‚˜ë¼ë³„ ê³¨ë“ì ìˆ˜ ìƒìœ„ 5ê°œ êµ­ê°€ì™€ ê·¸ ë“ì ìˆ˜ë¥¼ ë°ì´í„°í”„ë ˆì„í˜•íƒœë¡œ ì¶œë ¥í•˜ë¼

df[['Country', 'Goals']].groupby('Country').sum().sort_values('Goals', ascending=False).head()

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

In [367]:
# Q22. ì£¼ì–´ì§„ ì „ì²´ê¸°ê°„ë™ì•ˆ ê³¨ë“ì ì„ í•œ ì„ ìˆ˜ê°€ ê°€ì¥ ë§ì€ ë‚˜ë¼ ìƒìœ„ 5ê°œ êµ­ê°€ì™€ ê·¸ ì„ ìˆ˜ ìˆ«ìë¥¼ ë°ì´í„° í”„ë ˆì„ í˜•ì‹ìœ¼ë¡œ ì¶œë ¥í•˜ë¼
# â˜…
df.groupby(['Country', ]).size().sort_values(ascending=False).head()
#df.groupby('Country').size().sort_values(ascending=False).head(5)
# ans = df.loc[df['Country'] == 'Brazil']
# ans.loc[df['Player'] == 'Junior']      # ì•„ ë™ëª…ì´ì¸ì´ ìˆë„¤

Country
Brazil       81
Germany      78
Italy        60
Argentina    59
France       58
dtype: int64

In [382]:
# Q23. Years ì»¬ëŸ¼ì€ ë…„ë„ -ë…„ë„ í˜•ì‹ìœ¼ë¡œ êµ¬ì„±ë˜ì–´ìˆê³ , ê° ë…„ë„ëŠ” 4ìë¦¬ ìˆ«ìì´ë‹¤.
# ë…„ë„ í‘œê¸°ê°€ 4ìë¦¬ ìˆ«ìë¡œ ì•ˆëœ ì¼€ì´ìŠ¤ê°€ ì¡´ì¬í•œë‹¤. í•´ë‹¹ ê±´ì€ ëª‡ê±´ì¸ì§€ ì¶œë ¥í•˜ë¼

ans = 0
indexes = []
for idx, string in enumerate(df['Years'].to_list()):
    ans += (temp:= sum([1 if i != 4 else 0 for i in list(map(len, string.split('-')))]))
    if temp > 0:
        indexes.append(idx)
print(ans)

45

In [388]:
# Q24. Q23ì—ì„œ ë°œìƒí•œ ì˜ˆì™¸ ì¼€ì´ìŠ¤ë¥¼ ì œì™¸í•œ ë°ì´í„°í”„ë ˆì„ì„ df2ë¼ê³  ì •ì˜í•˜ê³  ë°ì´í„°ì˜ í–‰ì˜ ìˆ«ìë¥¼ ì¶œë ¥í•˜ë¼
# (ì•„ë˜ ë¬¸ì œë¶€í„°ëŠ” df2ë¡œ í’€ì´í•˜ê² ìŠµë‹ˆë‹¤)

df2 = df.drop(indexes).reset_index(drop=True)
df2.shape[0]

1250

In [405]:
# Q25. ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ë¥¼ ë‚˜íƒ€ë‚´ëŠ” â€˜LenCupâ€™ ì»¬ëŸ¼ì„ ì¶”ê°€í•˜ê³  4íšŒ ì¶œì „í•œ ì„ ìˆ˜ì˜ ìˆ«ìë¥¼ êµ¬í•˜ì—¬ë¼

def lencup(x):
    return len(x.split('-'))
df2['LenCup'] = df2['Years'].apply(lencup)
len(df2.loc[df2['LenCup'] == 4])
df2['LenCup'].value_counts()[4]     # ì´ê²Œ ì¢€ ë” ê¹”ë”

16

In [409]:
# Q26. Yugoslavia êµ­ê°€ì˜ ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ê°€ 2íšŒì¸ ì„ ìˆ˜ë“¤ì˜ ìˆ«ìë¥¼ êµ¬í•˜ì—¬ë¼

len(df2.loc[(df2['Country'] == 'Yugoslavia') & (df2['LenCup'] == 2)])

7

In [413]:
# Q27. 2002ë…„ë„ì— ì¶œì „í•œ ì „ì²´ ì„ ìˆ˜ëŠ” ëª‡ëª…ì¸ê°€?

sum(df2['Years'].str.contains('2002'))

156

In [432]:
# Q28. ì´ë¦„ì— â€˜carlosâ€™ ë‹¨ì–´ê°€ ë“¤ì–´ê°€ëŠ” ì„ ìˆ˜ì˜ ìˆ«ìëŠ” ëª‡ ëª…ì¸ê°€? (ëŒ€, ì†Œë¬¸ì êµ¬ë¶„ x)

ans = 0
for s in df2['Player'].str.lower():
    if 'carlos' in s:
        ans += 1
print(ans)
sum(df2['Player'].str.lower().str.contains('carlos'))

13

13

In [439]:
# Q29. ì›”ë“œì»µ ì¶œì „ íšŸìˆ˜ê°€ 1íšŒë¿ì¸ ì„ ìˆ˜ë“¤ ì¤‘ì—ì„œ ê°€ì¥ ë§ì€ ë“ì ì„ ì˜¬ë ¸ë˜ ì„ ìˆ˜ëŠ” ëˆ„êµ¬ì¸ê°€?

df2.loc[df2['LenCup'] == 1].sort_values('Goals').tail(1)['Player'].values[0]

'Just Fontaine'

In [443]:
# Q30. ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ê°€ 1íšŒ ë¿ì¸ ì„ ìˆ˜ë“¤ì´ ê°€ì¥ ë§ì€ êµ­ê°€ëŠ” ì–´ë””ì¸ê°€?

df2.loc[df2['LenCup'] == 1]['Country'].value_counts().index[0]

'Brazil'

In [4]:
"""ë°ì´í„° ì¶œì²˜ :https://www.data.go.kr/data/15051872/fileData.do(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
ë°ì´í„° ì„¤ëª… : ì„œìš¸íŠ¹ë³„ì‹œ_ê³µê³µìì „ê±° ì‹œê°„ëŒ€ë³„ ì´ìš©ì •ë³´
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv"""

df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv")
df.head(3)

         ëŒ€ì—¬ì¼ì  ëŒ€ì—¬ì‹œê°„  ëŒ€ì—¬ì†Œë²ˆí˜¸ ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ ì„±ë³„ ì—°ë ¹ëŒ€ì½”ë“œ  ì´ìš©ê±´ìˆ˜    ìš´ë™ëŸ‰   íƒ„ì†ŒëŸ‰     ì´ë™ê±°ë¦¬  ì‚¬ìš©ì‹œê°„
0  2021-06-01     0   3541    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1   0.00  0.00     0.00     8
1  2021-06-01     0    765    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1  27.21  0.35  1526.81    19
2  2021-06-01     0   2637    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1  41.40  0.37  1608.56    18

In [449]:
# Q31. ëŒ€ì—¬ì¼ìë³„ ë°ì´í„°ì˜ ìˆ˜ë¥¼ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ê³ , ê°€ì¥ ë§ì€ ë°ì´í„°ê°€ ìˆëŠ” ë‚ ì§œë¥¼ ì¶œë ¥í•˜ë¼

ans = df['ëŒ€ì—¬ì¼ì'].value_counts().to_frame()
display(ans.sort_index())
ans.head(1).index[0]

            count
ëŒ€ì—¬ì¼ì
2021-06-01  48081
2021-06-02  56100
2021-06-03  18985
2021-06-04  56788
2021-06-05  52730
2021-06-06  47787
2021-06-07  52623
2021-06-08  55623
2021-06-09  54507
2021-06-10  36992
2021-06-11  52089
2021-06-12  48569
2021-06-13  43131
2021-06-14  54945

'2021-06-04'

In [5]:
# Q32. ê° ì¼ìì˜ ìš”ì¼ì„ í‘œê¸°í•˜ê³  (â€˜Mondayâ€™ ~â€™Sundayâ€™) â€˜day_nameâ€™ì»¬ëŸ¼ì„ ì¶”ê°€í•˜ê³  ì´ë¥¼ ì´ìš©í•˜ì—¬
# ê° ìš”ì¼ë³„ ì´ìš© íšŸìˆ˜ì˜ ì´í•©ì„ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ë¼

df['ëŒ€ì—¬ì¼ì'] = pd.to_datetime(df['ëŒ€ì—¬ì¼ì'])
df['day_name'] = df['ëŒ€ì—¬ì¼ì'].dt.day_name()
df.groupby('day_name').size()

day_name
Friday       108877
Monday       107568
Saturday     101299
Sunday        90918
Thursday      55977
Tuesday      103704
Wednesday    110607
dtype: int64

In [466]:
# Q33. ê° ìš”ì¼ë³„ ê°€ì¥ ë§ì´ ì´ìš©í•œ ëŒ€ì—¬ì†Œì˜ ì´ìš©íšŸìˆ˜ì™€ ëŒ€ì—¬ì†Œ ë²ˆí˜¸ë¥¼ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ë¼

ans = df[['day_name', 'ëŒ€ì—¬ì†Œë²ˆí˜¸']].value_counts().to_frame().reset_index()
ans.drop_duplicates('day_name').set_index('day_name')

           ëŒ€ì—¬ì†Œë²ˆí˜¸  count
day_name
Saturday     502    378
Sunday       502    372
Wednesday    502    282
Friday       502    277
Tuesday      502    267
Monday       502    242
Thursday    2715    137

In [479]:
# Q34. ë‚˜ì´ëŒ€ë³„ ëŒ€ì—¬êµ¬ë¶„ ì½”ë“œì˜ (ì¼ì¼ê¶Œ/ì „ì²´íšŸìˆ˜) ë¹„ìœ¨ì„ êµ¬í•œ í›„ ê°€ì¥ ë†’ì€ ë¹„ìœ¨ì„ ê°€ì§€ëŠ” ë‚˜ì´ëŒ€ë¥¼ í™•ì¸í•˜ë¼.
# ì¼ì¼ê¶Œì˜ ê²½ìš° ì¼ì¼ê¶Œ ê³¼ ì¼ì¼ê¶Œ(ë¹„íšŒì›)ì„ ëª¨ë‘ í¬í•¨í•˜ë¼

ans = df['ì—°ë ¹ëŒ€ì½”ë“œ'].value_counts().to_frame('cnt')
ans['cnt'] = ans['cnt'] / len(df)
display(ans)
ans.head(1).cnt.index[0]

            cnt
ì—°ë ¹ëŒ€ì½”ë“œ
20ëŒ€    0.364623
30ëŒ€    0.275016
40ëŒ€    0.169083
50ëŒ€    0.103731
~10ëŒ€   0.054385
60ëŒ€    0.028409
70ëŒ€~   0.004753

'20ëŒ€'

In [477]:
# Q35. ì—°ë ¹ëŒ€ë³„ í‰ê·  ì´ë™ê±°ë¦¬ë¥¼ êµ¬í•˜ì—¬ë¼
df['ì—°ë ¹ëŒ€ì½”ë“œ'].value_counts()

ì—°ë ¹ëŒ€ì½”ë“œ
20ëŒ€     247561
30ëŒ€     186722
40ëŒ€     114799
50ëŒ€      70428
~10ëŒ€     36925
60ëŒ€      19288
70ëŒ€~      3227
Name: count, dtype: int64

In [21]:
# Q36. ì—°ë ¹ëŒ€ ì½”ë“œê°€ 20ëŒ€ì¸ ë°ì´í„°ë¥¼ ì¶”ì¶œí•˜ê³ ,ì´ë™ê±°ë¦¬ê°’ì´ ì¶”ì¶œí•œ ë°ì´í„°ì˜ ì´ë™ê±°ë¦¬ê°’ì˜ í‰ê·  ì´ìƒì¸ ë°ì´í„°ë¥¼ ì¶”ì¶œí•œë‹¤.
# ìµœì¢… ì¶”ì¶œëœ ë°ì´í„°ë¥¼ ëŒ€ì—¬ì¼ì, ëŒ€ì—¬ì†Œ ë²ˆí˜¸ ìˆœì„œë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬ í›„ 1í–‰ë¶€í„° 200í–‰ê¹Œì§€ì˜ íƒ„ì†ŒëŸ‰ì˜ í‰ê· ì„ ì†Œìˆ«ì  3ì§¸ ìë¦¬ê¹Œì§€ êµ¬í•˜ì—¬ë¼

mean_value = df.loc[df['ì—°ë ¹ëŒ€ì½”ë“œ']=='20ëŒ€']['ì´ë™ê±°ë¦¬'].mean()
ans = df.loc[(df['ì—°ë ¹ëŒ€ì½”ë“œ']=='20ëŒ€') & (df['ì´ë™ê±°ë¦¬'] >= mean_value)]
ans.sort_values(['ëŒ€ì—¬ì¼ì', 'ëŒ€ì—¬ì†Œë²ˆí˜¸'], ascending=False).head(200)['íƒ„ì†ŒëŸ‰'].astype(float).mean().__round__(3)

1.613

In [27]:
# Q37. 6ì›” 7ì¼ ~10ëŒ€ì˜ â€œì´ìš©ê±´ìˆ˜â€ì˜ ì¤‘ì•™ê°’ì€?

df.loc[(df['ëŒ€ì—¬ì¼ì'] == pd.to_datetime('2021-06-07')) & (df['ì—°ë ¹ëŒ€ì½”ë“œ'] == '~10ëŒ€')]['ì´ìš©ê±´ìˆ˜'].median()

1.0

In [62]:
# Q38. í‰ì¼ (ì›”~ê¸ˆ) ì¶œê·¼ ì‹œê°„ëŒ€(ì˜¤ì „ 6,7,8ì‹œ)ì˜ ëŒ€ì—¬ì†Œë³„ ì´ìš© íšŸìˆ˜ë¥¼ êµ¬í•´ì„œ ë°ì´í„° í”„ë ˆì„ í˜•íƒœë¡œ í‘œí˜„í•œ í›„
# ê° ëŒ€ì—¬ì‹œê°„ë³„ ì´ìš© íšŸìˆ˜ì˜ ìƒìœ„ 3ê°œ ëŒ€ì—¬ì†Œì™€ ì´ìš©íšŸìˆ˜ë¥¼ ì¶œë ¥í•˜ë¼       â˜…

temp = (temp:=df[['ëŒ€ì—¬ì¼ì', 'ëŒ€ì—¬ì‹œê°„', 'ì´ìš©ê±´ìˆ˜', 'ëŒ€ì—¬ì†Œë²ˆí˜¸', 'day_name']]).loc[~(temp['day_name'].isin(['Saturday', 'Sunday'])) & temp['ëŒ€ì—¬ì‹œê°„'].isin([6, 7, 8]) ]
ans = temp[['ëŒ€ì—¬ì‹œê°„', 'ëŒ€ì—¬ì†Œë²ˆí˜¸', 'ì´ìš©ê±´ìˆ˜']].groupby(['ëŒ€ì—¬ì‹œê°„', 'ëŒ€ì—¬ì†Œë²ˆí˜¸']).sum() #.size().to_frame('ì´ìš©ê±´ìˆ˜')
ans.sort_values(['ëŒ€ì—¬ì‹œê°„', 'ì´ìš©ê±´ìˆ˜'], ascending=False).groupby('ëŒ€ì—¬ì‹œê°„').head(3)   # ì•„ë‹ˆ ì™œìê¾¸ í–‰ìˆ˜ë‘ ì´ìš©ê±´ìˆ˜ë‘ í˜¼ìš©í•¨?

            ì´ìš©ê±´ìˆ˜
ëŒ€ì—¬ì‹œê°„ ëŒ€ì—¬ì†Œë²ˆí˜¸
8    2701    360
     2715    155
     646     151
7    259     184
     2744    125
     2733    104
6    2744     55
     1028     47
     1125     44

In [69]:
# Q39. ì´ë™ê±°ë¦¬ê°€ í‰ê·  ì´ìƒì˜ ì´ë™ê±°ë¦¬ ê°’ì„ ê°€ì§€ëŠ” ë°ì´í„°ë¥¼ ì¶”ì¶œí•˜ì—¬ ì¶”ì¶œë°ì´í„°ì˜ ì´ë™ê±°ë¦¬ì˜ í‘œë³¸í‘œì¤€í¸ì°¨ ê°’ì„ êµ¬í•˜ì—¬ë¼

mean_value = df['ì´ë™ê±°ë¦¬'].mean()
df['ì´ë™ê±°ë¦¬'].loc[df['ì´ë™ê±°ë¦¬'] >= mean_value].std()

5092.139707505356

In [78]:
# Q40. ë‚¨ì„±(â€˜Mâ€™ or â€˜mâ€™)ê³¼ ì—¬ì„±(â€˜Fâ€™ or â€˜fâ€™)ì˜ ì´ë™ê±°ë¦¬ê°’ì˜ í‰ê· ê°’ì„ êµ¬í•˜ì—¬ë¼

df['ì„±ë³„'] = df['ì„±ë³„'].str.upper()
df[['ì„±ë³„', 'ì´ë™ê±°ë¦¬']].groupby('ì„±ë³„').mean()

           ì´ë™ê±°ë¦¬
ì„±ë³„
F   3468.575025
M   3209.110871

In [2]:
"""ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/unsdsn/world-happiness(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
ë°ì´í„° ì„¤ëª… : ì „ì„¸ê³„ í–‰ë³µë„ ì§€í‘œ ì¡°ì‚¬
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv"""

df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv")
df.head(3)

   í–‰ë³µë­í‚¹      ë‚˜ë¼ëª…     ì ìˆ˜  ìƒëŒ€GDP  ì‚¬íšŒì ì§€ì›  í–‰ë³µê¸°ëŒ€ì¹˜  ì„ íƒì˜ ììœ ë„    ê´€ëŒ€í•¨  ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹    ë…„ë„
0     1  Finland  7.769  1.340  1.587  0.986    0.596  0.153     0.393  2019
1     2  Denmark  7.600  1.383  1.573  0.996    0.592  0.252     0.410  2019
2     3   Norway  7.554  1.488  1.582  1.028    0.603  0.271     0.341  2019

In [3]:
# Q41. ë°ì´í„°ëŠ” 2018ë…„ë„ì™€ 2019ë…„ë„ì˜ ì „ì„¸ê³„ í–‰ë³µ ì§€ìˆ˜ë¥¼ í‘œí˜„í•œë‹¤.
# ê°ë…„ë„ì˜ í–‰ë³µë­í‚¹ 10ìœ„ë¥¼ ì°¨ì§€í•œ ë‚˜ë¼ì˜ í–‰ë³µì ìˆ˜ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼.

display(df[['ë…„ë„', 'ì ìˆ˜']].groupby('ë…„ë„').mean())
df.loc[df['í–‰ë³µë­í‚¹'] == 10]['ì ìˆ˜'].mean()

            ì ìˆ˜
ë…„ë„
2018  5.375917
2019  5.407096

7.259

In [4]:
# Q42. ê°ë…„ë„ì˜ í–‰ë³µë­í‚¹ 50ìœ„ì´ë‚´ì˜ ë‚˜ë¼ë“¤ì˜ ê°ê°ì˜ í–‰ë³µì ìˆ˜ í‰ê· ì„ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ í‘œì‹œí•˜ë¼

df.loc[df['í–‰ë³µë­í‚¹'] <= 50][['ë…„ë„', 'ì ìˆ˜']].groupby('ë…„ë„').mean()

           ì ìˆ˜
ë…„ë„
2018  6.64678
2019  6.67002

In [5]:
# Q43. 2018ë…„ë„ ë°ì´í„°ë“¤ë§Œ ì¶”ì¶œí•˜ì—¬ í–‰ë³µì ìˆ˜ì™€ ë¶€íŒ¨ì— ëŒ€í•œ ì¸ì‹ì— ëŒ€í•œ ìƒê´€ê³„ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼      â˜…

df.loc[df['ë…„ë„'] == 2018][['ì ìˆ˜', 'ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹']].corr().iloc[0,1]

0.40529152271510027

In [9]:
# Q44. 2018ë…„ë„ì™€ 2019ë…„ë„ì˜ í–‰ë³µë­í‚¹ì´ ë³€í™”í•˜ì§€ ì•Šì€ ë‚˜ë¼ëª…ì˜ ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

temp = df[['í–‰ë³µë­í‚¹', 'ë‚˜ë¼ëª…']].value_counts().to_frame('count')
len(temp.loc[temp['count'] > 1])

15

In [10]:
# Q45. 2019ë…„ë„ ë°ì´í„°ë“¤ë§Œ ì¶”ì¶œí•˜ì—¬ ê°ë³€ìˆ˜ê°„ ìƒê´€ê³„ìˆ˜ë¥¼ êµ¬í•˜ê³  ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•œ í›„
# ìƒìœ„ 5ê°œë¥¼ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ë¼. ì»¬ëŸ¼ëª…ì€ v1,v2,corrìœ¼ë¡œ í‘œì‹œí•˜ë¼

temp = df.loc[df['ë…„ë„'] == 2019].drop('ë‚˜ë¼ëª…', axis=1).corr().stack().drop_duplicates().to_frame('corr').reset_index()
temp.columns = ['v1', 'v2', 'corr']
temp = temp.loc[temp['corr'] < 1]
temp.sort_values('corr', ascending=False).head()

       v1     v2      corr
15  ìƒëŒ€GDP  í–‰ë³µê¸°ëŒ€ì¹˜  0.835462
8      ì ìˆ˜  ìƒëŒ€GDP  0.793883
10     ì ìˆ˜  í–‰ë³µê¸°ëŒ€ì¹˜  0.779883
9      ì ìˆ˜  ì‚¬íšŒì ì§€ì›  0.777058
14  ìƒëŒ€GDP  ì‚¬íšŒì ì§€ì›  0.754906

In [11]:
# Q46. ê° ë…„ë„ë³„ í•˜ìœ„ í–‰ë³µì ìˆ˜ì˜ í•˜ìœ„ 5ê°œ êµ­ê°€ì˜ í‰ê·  í–‰ë³µì ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

df[['ë…„ë„', 'ì ìˆ˜']].sort_values('ì ìˆ˜').groupby('ë…„ë„').head(5).groupby('ë…„ë„').mean()

          ì ìˆ˜
ë…„ë„
2018  3.1800
2019  3.1408

In [ ]:
# Q47. 2019ë…„ ë°ì´í„°ë¥¼ ì¶”ì¶œí•˜ê³  í•´ë‹¹ë°ì´í„°ì˜ ìƒëŒ€ GDP í‰ê·  ì´ìƒì˜ ë‚˜ë¼ë“¤ê³¼
# í‰ê·  ì´í•˜ì˜ ë‚˜ë¼ë“¤ì˜ í–‰ë³µì ìˆ˜ í‰ê· ì„ ê°ê° êµ¬í•˜ê³  ê·¸ ì°¨ì´ê°’ì„ ì¶œë ¥í•˜ë¼

In [ ]:
# Q48. ê°ë…„ë„ì˜ ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹ì„ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬í–ˆì„ë•Œ ìƒìœ„ 20ê°œ êµ­ê°€ì˜ ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [ ]:
# Q49. 2018ë…„ë„ í–‰ë³µë­í‚¹ 50ìœ„ ì´ë‚´ì— í¬í•¨ëë‹¤ê°€ 2019ë…„ 50ìœ„ ë°–ìœ¼ë¡œ ë°€ë ¤ë‚œ êµ­ê°€ì˜ ìˆ«ìë¥¼ êµ¬í•˜ì—¬ë¼

In [ ]:
# Q50. 2018ë…„,2019ë…„ ëª¨ë‘ ê¸°ë¡ì´ ìˆëŠ” ë‚˜ë¼ë“¤ ì¤‘ ë…„ë„ë³„ í–‰ë³µì ìˆ˜ê°€ ê°€ì¥ ì¦ê°€í•œ ë‚˜ë¼ì™€ ê·¸ ì¦ê°€ ìˆ˜ì¹˜ëŠ”?

In [ ]:
"""ë°ì´í„° ì¶œì²˜ : https://archive.ics.uci.edu/ml/datasets/Power+consumption+of+Tetouan+city (ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
ë°ì´í„° ì„¤ëª… : ê¸°ì˜¨, ìŠµë„,ë°”ëŒí’ì†ì— ë”°ë¥¸ ë„ì‹œì˜ 3ê°œ ì§€ì—­êµ¬ì˜ ì—ë„ˆì§€ ì†Œë¹„ëŸ‰
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/consum/Tetuan City power consumption.csv"""
# Q51. DateTimeì»¬ëŸ¼ì„ í†µí•´ ê° ì›”ë³„ë¡œ ëª‡ê°œì˜ ë°ì´í„°ê°€ ìˆëŠ”ì§€ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ êµ¬í•˜ì—¬ë¼

In [ ]:
# Q52. 3ì›”ë‹¬ì˜ ê° ì‹œê°„ëŒ€ë³„ ì˜¨ë„ì˜ í‰ê· ë“¤ ì¤‘ ê°€ì¥ ë‚®ì€ ì‹œê°„ëŒ€ì˜ ì˜¨ë„ë¥¼ ì¶œë ¥í•˜ë¼

In [ ]:
# Q53. 3ì›”ë‹¬ì˜ ê° ì‹œê°„ëŒ€ë³„ ì˜¨ë„ì˜ í‰ê· ë“¤ ì¤‘ ê°€ì¥ ë†’ì€ ì‹œê°„ëŒ€ì˜ ì˜¨ë„ë¥¼ ì¶œë ¥í•˜ë¼

In [ ]:
# Q54. Zone 1 Power Consumption ì»¬ëŸ¼ì˜ valueê°’ì˜ í¬ê¸°ê°€
# Zone 2 Power Consumption ì»¬ëŸ¼ì˜ valueê°’ì˜ í¬ê¸°ë³´ë‹¤ í° ë°ì´í„°ë“¤ì˜ Humidityì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [ ]:
# Q55. ê° zoneì˜ ì—ë„ˆì§€ ì†Œë¹„ëŸ‰ì˜ ìƒê´€ê´€ê³„ë¥¼ êµ¬í•´ì„œ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œê¸°í•˜ë¼

In [ ]:
# Q56. Temperatureì˜ ê°’ì´ 10ë¯¸ë§Œì˜ ê²½ìš° A, 10ì´ìƒ 20ë¯¸ë§Œì˜ ê²½ìš° B,20ì´ìƒ 30ë¯¸ë§Œì˜ ê²½ìš° C,
# ê·¸ ì™¸ì˜ ê²½ìš° Dë¼ê³  í• ë•Œ ê° ë‹¨ê³„ì˜ ë°ì´í„° ìˆ«ìë¥¼ êµ¬í•˜ì—¬ë¼

In [ ]:
# Q57. 6ì›” ë°ì´í„°ì¤‘ 12ì‹œì˜ Temperatureì˜ í‘œì¤€í¸ì°¨ë¥¼ êµ¬í•˜ì—¬ë¼

In [ ]:
# Q58. 6ì›” ë°ì´í„°ì¤‘ 12ì‹œì˜ Temperatureì˜ ë¶„ì‚°ì„ êµ¬í•˜ì—¬ë¼

In [ ]:
# Q59. Temperatureì˜ í‰ê· ì´ìƒì˜ Temperatureì˜ ê°’ì„ ê°€ì§€ëŠ” ë°ì´í„°ë¥¼ Temperatureë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬ í–ˆì„ë•Œ
# 4ë²ˆì§¸ í–‰ì˜ Humidity ê°’ì€?

In [ ]:
# Q60. Temperatureì˜ ì¤‘ê°„ê°’ ì´ìƒì˜ Temperatureì˜ ê°’ì„ ê°€ì§€ëŠ” ë°ì´í„°ë¥¼Temperatureë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬ í–ˆì„ë•Œ
# 4ë²ˆì§¸ í–‰ì˜ Humidity ê°’ì€?

In [ ]:
"""ë°ì´í„° ì¶œì²˜ : https://www.kaggle.com/abcsds/pokemon (ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
ë°ì´í„° ì„¤ëª… : í¬ì¼“ëª¬ ì •ë³´
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv"""
# Q61. Legendary ì»¬ëŸ¼ì€ ì „ì„¤í¬ì¼“ëª¬ ìœ ë¬´ë¥¼ ë‚˜íƒ€ë‚¸ë‹¤.ì „ì„¤í¬ì¼“ëª¬ê³¼ ê·¸ë ‡ì§€ ì•Šì€ í¬ì¼“ëª¬ë“¤ì˜ HPí‰ê· ì˜ ì°¨ì´ë¥¼ êµ¬í•˜ì—¬ë¼

In [ ]:
# Q62. Type 1ì€ ì£¼ì†ì„± Type 2 ëŠ” ë¶€ì†ì„±ì„ ë‚˜íƒ€ë‚¸ë‹¤. ê°€ì¥ ë§ì€ ë¶€ì†ì„± ì¢…ë¥˜ëŠ” ë¬´ì—‡ì¸ê°€?

In [ ]:
# Q63. ê°€ì¥ ë§ì€ Type 1 ì˜ ì¢…ì˜ í‰ê·  Attack ì„ í‰ê·  Defenseë¡œ ë‚˜ëˆˆê°’ì€?

In [ ]:
# Q64. í¬ì¼“ëª¬ ì„¸ëŒ€(Generation) ì¤‘ ê°€ì¥ë§ì€ Legendaryë¥¼ ë³´ìœ í•œ ì„¸ëŒ€ëŠ” ëª‡ì„¸ëŒ€ì¸ê°€?

In [ ]:
# Q65. â€˜HPâ€™, â€˜Attackâ€™, â€˜Defenseâ€™, â€˜Sp. Atkâ€™, â€˜Sp. Defâ€™, â€˜Speedâ€™ ê°„ì˜ ìƒê´€ ê³„ìˆ˜ì¤‘
# ê°€ì¥ ì ˆëŒ“ê°’ì´ í° ë‘ ë³€ìˆ˜ì™€ ê·¸ ê°’ì„ êµ¬í•˜ì—¬ë¼

In [ ]:
# Q66. ê° Generationì˜ Attackìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬ì‹œ ìƒìœ„ 3ê°œ ë°ì´í„°ë“¤(18ê°œ)ì˜ Attackì˜ ì „ì²´ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [ ]:
# Q67. ê° Generationì˜ Attackìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬ì‹œ ìƒìœ„ 5ê°œ ë°ì´í„°ë“¤(30ê°œ)ì˜ Attackì˜ ì „ì²´ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [ ]:
# Q68. ê°€ì¥ í”í•˜ê²Œ ë°œê²¬ë˜ëŠ” (Type1 , Type2) ì˜ ìŒì€ ë¬´ì—‡ì¸ê°€?

In [ ]:
# Q69. í•œë²ˆì”©ë§Œ ì¡´ì¬í•˜ëŠ” (Type1 , Type2)ì˜ ìŒì˜ ê°¯ìˆ˜ëŠ” ëª‡ê°œì¸ê°€?

In [ ]:
# Q70. í•œë²ˆì”©ë§Œ ì¡´ì¬í•˜ëŠ” (Type1 , Type2)ì˜ ìŒì„ ê° ì„¸ëŒ€(Generation)ì€ ê°ê° ëª‡ê°œì”© ê°€ì§€ê³  ìˆëŠ”ê°€?

In [ ]:
"""ë°ì´í„° ì¶œì²˜ : êµ­ë¯¼ì²´ìœ¡ì§„í¥ê³µë‹¨ (ë¬¸í™” ë¹…ë°ì´í„°í”Œë«í¼) (ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
ë°ì´í„° ì„¤ëª… : ëŒ€í•œë¯¼êµ­ êµ­ë¯¼ ì²´ë ¥ì¥ í‰ê°€
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv"""
# Q71. ì „ì²´ë°ì´í„°ì˜ ìˆ˜ì¶•ê¸°í˜ˆì••(ìµœê³ ) - ì´ì™„ê¸°í˜ˆì••(ìµœì €)ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [ ]:
# Q72. 50~59ì„¸ì˜ ì‹ ì¥í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [ ]:
# Q73. ì—°ë ¹ëŒ€ (20~29 : 20ëŒ€ â€¦) ë³„ ì¸ì›ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

In [ ]:
# Q74. ì—°ë ¹ëŒ€ (20~29 : 20ëŒ€ â€¦) ë³„ ë“±ê¸‰ì˜ ìˆ«ìë¥¼ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ë¼

In [ ]:
# Q75. ë‚¨ì„± ì¤‘ Aë“±ê¸‰ê³¼ Dë“±ê¸‰ì˜ ì²´ì§€ë°©ë¥  í‰ê· ì˜ ì°¨ì´(í° ê°’ì—ì„œ ì‘ì€ ê°’ì˜ ì°¨)ë¥¼ êµ¬í•˜ì—¬ë¼

In [ ]:
# Q76. ì—¬ì„± ì¤‘ Aë“±ê¸‰ê³¼ Dë“±ê¸‰ì˜ ì²´ì¤‘ì˜ í‰ê· ì˜ ì°¨ì´(í° ê°’ì—ì„œ ì‘ì€ ê°’ì˜ ì°¨)ë¥¼ êµ¬í•˜ì—¬ë¼

In [ ]:
# Q77. bmiëŠ” ìì‹ ì˜ ëª¸ë¬´ê²Œ(kg)ë¥¼ í‚¤ì˜ ì œê³±(m)ìœ¼ë¡œ ë‚˜ëˆˆê°’ì´ë‹¤.
# ë°ì´í„°ì˜ bmi ë¥¼ êµ¬í•œ ìƒˆë¡œìš´ ì»¬ëŸ¼ì„ ë§Œë“¤ê³  ë‚¨ì„±ì˜ bmi í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [ ]:
# Q78. bmië³´ë‹¤ ì²´ì§€ë°©ìœ¨ì´ ë†’ì€ ì‚¬ëŒë“¤ì˜ ì²´ì¤‘í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [ ]:
# Q79. ë‚¨ì„±ê³¼ ì—¬ì„±ì˜ ì•…ë ¥ í‰ê· ì˜ ì°¨ì´ë¥¼ êµ¬í•˜ì—¬ë¼

In [ ]:
# Q80. ë‚¨ì„±ê³¼ ì—¬ì„±ì˜ êµì°¨ìœ—ëª¸ì¼ìœ¼í‚¤ê¸° íšŸìˆ˜ì˜ í‰ê· ì˜ ì°¨ì´ë¥¼ êµ¬í•˜ì—¬ë¼

In [ ]:
"""ë°ì´í„° ì¶œì²˜ : https://data.kma.go.kr/cmmn/static/staticPage.do?page=intro
ë°ì´í„° ì„¤ëª… : 2020ë…„ë„ ì´í™”ë™(ì„œìš¸) , ìˆ˜ì˜ë™(ë¶€ì‚°)ì˜ ì‹œê°„ë‹¨ìœ„ì˜ ê¸°ì˜¨ê³¼ ê°•ìˆ˜ëŸ‰
ë°ì´í„° url : https://raw.githubusercontent.com/Datamanim/datarepo/main/weather/weather2.csv"""
# Q81. ì—¬ë¦„ì² (6ì›”,7ì›”,8ì›”) ì´í™”ë™ì´ ìˆ˜ì˜ë™ë³´ë‹¤ ë†’ì€ ê¸°ì˜¨ì„ ê°€ì§„ ì‹œê°„ëŒ€ëŠ” ëª‡ê°œì¸ê°€?

In [ ]:
# Q82. ì´í™”ë™ê³¼ ìˆ˜ì˜ë™ì˜ ìµœëŒ€ê°•ìˆ˜ëŸ‰ì˜ ì‹œê°„ëŒ€ë¥¼ ê°ê° êµ¬í•˜ì—¬ë¼

In [ ]:
"""ë°ì´í„° ì¶œì²˜ : https://www.kaggle.com/shubh0799/churn-modelling ì—ì„œ ë³€í˜•
ë°ì´í„° ì„¤ëª… : ê³ ê°ì˜ ì‹ ìƒì •ë³´ ë°ì´í„°ë¥¼ í†µí•œ íšŒì‚¬ ì„œë¹„ìŠ¤ ì´íƒˆ ì˜ˆì¸¡ (ì¢…ì†ë³€ìˆ˜ : Exited)
Data url : https://raw.githubusercontent.com/Datamanim/datarepo/main/churn/train.csv"""
# Q83. ë‚¨ì„± ì´íƒˆ(Exited)ì´ ê°€ì¥ ë§ì€ êµ­ê°€(Geography)ëŠ” ì–´ë””ì´ê³  ì´íƒˆ ì¸ì›ì€ ëª‡ëª…ì¸ê°€?

In [ ]:
# Q84. ì¹´ë“œë¥¼ ì†Œìœ (HasCrCard ==1)í•˜ê³  ìˆìœ¼ë©´ì„œ í™œì„±ë©¤ë²„(IsActiveMember ==1) ì¸ ê³ ê°ë“¤ì˜
# í‰ê·  ë‚˜ì´ë¥¼ ì†Œìˆ«ì ì´í•˜ 4ìë¦¬ê¹Œì§€ êµ¬í•˜ì—¬ë¼?

In [ ]:
# Q85. Balance ê°’ì´ ì¤‘ê°„ê°’ ì´ìƒì„ ê°€ì§€ëŠ” ê³ ê°ë“¤ì˜ CreditScoreì˜ í‘œì¤€í¸ì°¨ë¥¼ ì†Œìˆ«ì ì´í•˜ 3ìë¦¬ê¹Œì§€ êµ¬í•˜ì—¬ë¼

In [ ]:
"""ë°ì´í„° ì¶œì²˜ :https://www.data.go.kr/data/15007122/fileData.do (ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
ë°ì´í„° ì„¤ëª… : 2018ë…„ë„ ì„±ì¸ì˜ ê±´ê°•ê²€ ì§„ë°ì´í„° (í¡ì—°ìƒíƒœ 1- í¡ì—°, 0-ë¹„í¡ì—° )
ë°ì´í„° url : https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/train.csv"""
# Q86. ìˆ˜ì¶•ê¸°í˜ˆì••ê³¼ ì´ì™„ê¸° í˜ˆì••ê¸° ìˆ˜ì¹˜ì˜ ì°¨ì´ë¥¼ ìƒˆë¡œìš´ ì»¬ëŸ¼(â€˜í˜ˆì••ì°¨â€™) ìœ¼ë¡œ ìƒì„±í•˜ê³ ,
#  ì—°ë ¹ëŒ€ ì½”ë“œë³„ ê° ê·¸ë£¹ ì¤‘ â€˜í˜ˆì••ì°¨â€™ ì˜ ë¶„ì‚°ì´ 5ë²ˆì§¸ë¡œ í° ì—°ë ¹ëŒ€ ì½”ë“œë¥¼ êµ¬í•˜ì—¬ë¼

In [ ]:
# Q87. ë¹„ë§Œë„ë¥¼ ë‚˜íƒ€ë‚´ëŠ” ì§€í‘œì¸ WHtRëŠ” í—ˆë¦¬ë‘˜ë ˆ / í‚¤ë¡œ í‘œí˜„í•œë‹¤. ì¼ë°˜ì ìœ¼ë¡œ 0.58ì´ìƒì´ë©´ ë¹„ë§Œìœ¼ë¡œ ë¶„ë¥˜í•œë‹¤.
#  ë°ì´í„°ì¤‘ WHtR ì§€í‘œìƒ ë¹„ë§Œì¸ ì¸ì›ì˜ ë‚¨/ì—¬ ë¹„ìœ¨ì„ êµ¬í•˜ì—¬ë¼

In [ ]:
"""ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/anmolkumar/health-insurance-cross-sell-prediction(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
ë°ì´í„° ì„¤ëª… : ìë™ì°¨ ë³´í—˜ ê°€ì… ì˜ˆì¸¡
Data url : https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/train.csv"""
# Q88. Vehicle_Age ê°’ì´ 2ë…„ ì´ìƒì¸ ì‚¬ëŒë“¤ë§Œ í•„í„°ë§ í•˜ê³  ê·¸ì¤‘ì—ì„œ
#  Annual_Premium ê°’ì´ ì „ì²´ ë°ì´í„°ì˜ ì¤‘ê°„ê°’ ì´ìƒì¸ ì‚¬ëŒë“¤ì„ ì°¾ê³ , ê·¸ë“¤ì˜ Vintageê°’ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [ ]:
# Q89. vehicle_ageì— ë”°ë¥¸ ê° ì„±ë³„(gender)ê·¸ë£¹ì˜ Annual_Premiumê°’ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ ì•„ë˜ í…Œì´ë¸”ê³¼ ë™ì¼í•˜ê²Œ êµ¬í˜„í•˜ë¼

In [ ]:
"""ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/iabhishekofficial/mobile-price-classification?select=train.csv(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
ë°ì´í„° ì„¤ëª… : í•¸ë“œí° ê°€ê²©ì˜ˆì¸¡ (price_rangeì»¬ëŸ¼ 0(ì €ë ´) ~3(ë§¤ìš°ë¹„ìŒˆ) ë²”ìœ„ )
Data url https://raw.githubusercontent.com/Datamanim/datarepo/main/mobile/train.csv"""
# Q90. price_range ì˜ ê° valueë¥¼ ê·¸ë£¹í•‘í•˜ì—¬ ê° ê·¸ë£¹ì˜ n_cores ì˜ ë¹ˆë„ê°€ ê°€ì¥ë†’ì€ valueì™€ ê·¸ ë¹ˆë„ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

In [ ]:
# Q91. price_range ê°’ì´ 3ì¸ ê·¸ë£¹ì—ì„œ ìƒê´€ê´€ê³„ê°€ 2ë²ˆì§¸ë¡œ ë†’ì€ ë‘ ì»¬ëŸ¼ê³¼ ê·¸ ìƒê´€ê³„ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

In [ ]:
"""ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/teejmahal20/airline-passenger-satisfaction?select=train.csv (ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
ë°ì´í„° ì„¤ëª… : ë¹„í–‰íƒ‘ìŠ¹ ê²½í—˜ ë§Œì¡±ë„ (satisfaction ì»¬ëŸ¼ : â€˜neutral or dissatisfiedâ€™ or satisfied ) (83123, 24) shape
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/train.csv"""
# Q92. Arrival Delay in Minutes ì»¬ëŸ¼ì´ ê²°ì¸¡ì¹˜ì¸ ë°ì´í„°ë“¤ ì¤‘ â€˜neutral or dissatisfiedâ€™ ë³´ë‹¤
# â€˜satisfiedâ€™ì˜ ìˆ˜ê°€ ë” ë†’ì€ ClassëŠ” ì–´ë”” ì¸ê°€?

In [ ]:
"""ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/adityakadiwal/water-potability
ë°ì´í„° ì„¤ëª… : ìˆ˜ì§ˆ ìŒìš©ì„± ì—¬ë¶€ (Potablillity ì»¬ëŸ¼ : 0 ,1 )
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/train.csv"""
# Q93. phê°’ì€ ìƒë‹¹íˆ ë§ì€ ê²°ì¸¡ì¹˜ë¥¼ í¬í•¨í•œë‹¤. ê²°ì¸¡ì¹˜ë¥¼ ì œì™¸í•œ ë‚˜ë¨¸ì§€ ë°ì´í„°ë“¤ ì¤‘ ì‚¬ë¶„ìœ„ê°’ ê¸°ì¤€ í•˜ìœ„ 25%ì˜ ê°’ë“¤ì˜ í‰ê· ê°’ì€?

In [ ]:
"""ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/mirichoi0218/insurance/code(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
ë°ì´í„° ì„¤ëª… : ì˜ë£Œë¹„ìš© ì˜ˆì¸¡ë¬¸ì œ
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/train.csv"""
# Q94. í¡ì—°ìì™€ ë¹„í¡ì—°ì ê°ê° chargesì˜ ìƒìœ„ 10% ê·¸ë£¹ì˜ í‰ê· ì˜ ì°¨ì´ëŠ”?

In [ ]:
"""ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/harlfoxem/housesalesprediction (ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
ë°ì´í„° ì„¤ëª… : í‚¹ì¹´ìš´í‹° ì£¼ê±°ì§€ ê°€ê²© ì˜ˆì¸¡ë¬¸ì œ
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice/train.csv"""
# Q95. bedrooms ì˜ ë¹ˆë„ê°€ ê°€ì¥ ë†’ì€ ê°’ì„ ê°€ì§€ëŠ” ë°ì´í„°ë“¤ì˜ priceì˜ ìƒìœ„ 10%ì™€ í•˜ìœ„ 10%ê°’ì˜ ì°¨ì´ë¥¼ êµ¬í•˜ì—¬ë¼

In [ ]:
"""ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/mohansacharya/graduate-admissions(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
ë°ì´í„° ì„¤ëª… : ëŒ€í•™ì› ì…í•™ ê°€ëŠ¥ì„± ì˜ˆì¸¡
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/train.csv"""
# Q96. Serial No. ì»¬ëŸ¼ì„ ì œì™¸í•˜ê³  â€˜Chance of Admitâ€™ì„ ì¢…ì†ë³€ìˆ˜, ë‚˜ë¨¸ì§€ ë³€ìˆ˜ë¥¼ ë…ë¦½ë³€ìˆ˜ë¼ í• ë•Œ,
#  ëœë¤í¬ë ˆìŠ¤íŠ¸ë¥¼ í†µí•´ íšŒê·€ ì˜ˆì¸¡ì„ í•  ë–„ ë³€ìˆ˜ì¤‘ìš”ë„ ê°’ì„ ì¶œë ¥í•˜ë¼ (ì‹œë“œê°’ì— ë”°ë¼ ìˆœì„œëŠ” ë‹¬ë¼ì§ˆìˆ˜ ìˆìŒ)

In [ ]:
"""ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
ë°ì´í„° ì„¤ëª… : ë ˆë“œ ì™€ì¸ í€„ë¦¬í‹° ì˜ˆì¸¡ë¬¸ì œ
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/train.csv"""
# Q97. quality ê°’ì´ 3ì¸ ê·¸ë£¹ê³¼ 8ì¸ ë°ì´í„°ê·¸ë£¹ì˜ ê° ì»¬ëŸ¼ë³„ ë…ë¦½ë³€ìˆ˜ì˜ í‘œì¤€í¸ì°¨ ê°’ì˜ ì°¨ì´ë¥¼ êµ¬í• ë•Œ
# ê·¸ê°’ì´ ê°€ì¥ í° ì»¬ëŸ¼ëª…ì„ êµ¬í•˜ì—¬ë¼

In [ ]:
"""ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/prathamtripathi/drug-classification(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
ë°ì´í„° ì„¤ëª… : íˆ¬ì•½í•˜ëŠ” ì•½ì„ ë¶„ë¥˜
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/train.csv"""
# Q98. ë‚¨ì„±ë“¤ì˜ ì—°ë ¹ëŒ€ë³„ (10ì‚´ì”© êµ¬ë¶„ 0~9ì„¸ 10~19ì„¸ â€¦) Na_to_Kê°’ì˜ í‰ê· ê°’ì„ êµ¬í•´ì„œ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ì—¬ë¼

In [ ]:
"""ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/sid321axn/audit-data(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
ë°ì´í„° ì„¤ëª… : ì‚¬ê¸°íšŒì‚¬ ë¶„ë¥˜
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/train.csv"""
# Q99. ë°ì´í„°ì˜ Risk ê°’ì— ë”°ë¥¸ score_aì™€ score_bì˜ í‰ê· ê°’ì„ êµ¬í•˜ì—¬ë¼

In [ ]:
"""ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/kyr7plus/emg-4(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
ë°ì´í„° ì„¤ëª… : ì„¼ì„œë°ì´í„°ë¡œ ë™ì‘ ìœ í˜• ë¶„ë¥˜
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/train.csv"""
# Q100. poseê°’ì— ë”°ë¥¸ ê° motionì»¬ëŸ¼ì˜ ì¤‘ê°„ê°’ì˜ ê°€ì¥ í° ì°¨ì´ë¥¼ ë³´ì´ëŠ” motionì»¬ëŸ¼ì€ ì–´ë””ì´ë©° ê·¸ê°’ì€?

In [ ]:
"""ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/mysarahmadbhat/hyundai-used-car-listing(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
ë°ì´í„° ì„¤ëª… : í˜„ëŒ€ ì°¨ëŸ‰ê°€ê²© ë¶„ë¥˜ë¬¸ì œ
Data url :hhttps://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/train.csv"""
# Q101. ì •ë³´(rowìˆ˜)ê°€ ê°€ì¥ ë§ì€ ìƒìœ„ 3ì°¨ì¢…ì˜ priceê°’ì˜ ê° í‰ê· ê°’ì€?

In [ ]:
"""ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/pritsheta/diabetes-dataset(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
ë°ì´í„° ì„¤ëª… : ë‹¹ë‡¨ì—¬ë¶€ íŒë‹¨í•˜ê¸°
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/diabetes/train.csv"""
# Q102. Outcome ê°’ì— ë”°ë¥¸ ê° ê·¸ë£¹ì˜ ê° ì»¬ëŸ¼ì˜ í‰ê·  ì°¨ì´ë¥¼ êµ¬í•˜ì—¬ë¼

In [ ]:
"""ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/pritsheta/netflix-stock-data-from-2002-to-2021(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
ë°ì´í„° ì„¤ëª… : ë„·í”Œë¦­ìŠ¤ ì£¼ì‹ë°ì´í„°
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/nflx/NFLX.csv"""
# Q103. ë§¤ë…„ 5ì›”ë‹¬ì˜ openê°€ê²©ì˜ í‰ê· ê°’ì„ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ë¼

In [ ]:
"""ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/datasets/vivovinco/nba-player-stats(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/nba/nba.csv"""
# Q104. Tm ì»¬ëŸ¼ì€ ê° íŒ€ì˜ ì´ë¦„ì„ ì˜ë¯¸í•œë‹¤. TORíŒ€ì˜ í‰ê· ë‚˜ì´ë¥¼ ì†Œìˆ˜ 4ì§¸ ìë¦¬ê¹Œì§€ êµ¬í•˜ì—¬ë¼

In [ ]:
# Q105. Pos ì»¬ëŸ¼ì€ í¬ì§€ì…˜ì„ ì˜ë¯¸í•œë‹¤. ì „ì²´ ì„ ìˆ˜ ì¤‘ ìµœì†Œë‚˜ì´ëŒ€ì˜ ì„ ìˆ˜ë“¤ì„ í•„í„°í•˜ê³  ê·¸ë“¤ ì¤‘ ê°€ì¥ ë§ì€ í¬ì§€ì…˜ì€ ë¬´ì—‡ì¸ì§€ í™•ì¸í•˜ë¼

In [ ]:
# Q106. ì„ ìˆ˜ë“¤ì˜ ì´ë¦„ì€ first_name+ ê³µë°± + last_nameìœ¼ë¡œ ì´ë£¨ì–´ì ¸ ìˆë‹¤.
# ê°€ì¥ ë§ì€ first_nameì€ ë¬´ì—‡ì´ë©° ëª‡ íšŒ ë°œìƒí•˜ëŠ”ì§€ í™•ì¸í•˜ë¼

In [ ]:
# Q107. PTSì»¬ëŸ¼ì€ ê²½ê¸°ë‹¹ í‰ê· ë“ì ìˆ˜ ì´ë‹¤. ê°í¬ì§€ì…˜ë³„ë¡œ ê²½ê¸°ë‹¹ í‰ê· ë“ì ìˆ˜ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [ ]:
# Q108. PTSì»¬ëŸ¼ì€ ê²½ê¸°ë‹¹ í‰ê· ë“ì ìˆ˜ ì´ë‹¤. ê°í¬ì§€ì…˜ë³„ë¡œ ê²½ê¸°ë‹¹ í‰ê· ë“ì ìˆ˜ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [ ]:
# Q109. Gì»¬ëŸ¼ì€ ì°¸ì—¬í•œ ê²½ê¸°ì˜ ìˆ«ìì´ë‹¤. ê° íŒ€ë³„ë¡œ ê°€ì¥ ë†’ì€ ê²½ê¸°ì°¸ì—¬ ìˆ˜ë¥¼ ê°€ì§„ ì„ ìˆ˜ë“¤ì˜ ê²½ê¸° ì°¸ì—¬ ìˆ«ìì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [ ]:
# Q110. Tmì˜ ê°’ì´ MIAì´ë©° PosëŠ” Cë˜ëŠ” PFì¸ ì„ ìˆ˜ì˜ MPê°’ì˜ í‰ê· ì€?

In [ ]:
# Q111. ì „ì²´ ë°ì´í„°ì¤‘ Gì˜ í‰ê· ê°’ì˜ 1.5ë°° ì´ìƒì¸ ë°ì´í„°ë“¤ë§Œ ì¶”ì¶œí–ˆì„ë•Œ 3Pê°’ì˜ í‰ê· ì€?

In [ ]:
# Q112. Ageì˜ í‰ê·  ì´ìƒì¸ ê·¸ë£¹ê³¼ í‰ê·  ë¯¸ë§Œì¸ ê·¸ë£¹ê°„ì˜ Gê°’ì˜ í‰ê· ì˜ ì°¨ì´ëŠ”?

In [ ]:
# Q113. í‰ê· ë‚˜ì´ê°€ ê°€ì¥ ì Šì€ íŒ€ì€ ì–´ë””ì¸ê°€

In [ ]:
# Q114. Posê·¸ë£¹ë³„ í‰ê·  MPê°’ì„ êµ¬í•˜ì—¬ë¼